@{
    ViewData["Title"] = "Home Page";
}

<article id="Home" class="myArts block ">
    <article class="container topMargin2em showShadow violetBorder backDarkViolet showShadow" style="padding-bottom:2em;">
        <div class="row">
            <div class="col-md-5 offset-md-1 centerDiv">

                @* <button id="PastorCorner" type="button" class="myBut bold width75 fontSize2em topMargin2em">Pastor's Corner</button> *@

                <section class="topMargin1em">
                    <div class="centerDiv">
                        <img alt="TripleCross.png" class="width90 topMargin2em bottomMargin2em violetBorder showShadow" src="~/Images/TripleCross.png" />
                    </div>
                </section>
            </div>

            <div id="Contacts" class="col-md-5">
                <div class="topMarginHalfem" style="font-family: 'Times New Roman', Times, serif;">
                    <p class="underLine darkVioletText">Contact Us</p>
                    <p class="fontSize1em darkVioletText">4001 NE 25th Ave.<br />Ocala, FL 34479</p>
                    <p class="darkVioletText">Phone: (352) 625-4222</p>
                    <p class="darkVioletText">Click <a class="fontSize1em underline" href="MailTo:tlcocala@hotmail.com">here</a> to send Email.</p>
                    <hr class="myHR" />
                    <p class="underLine darkVioletText">Office Hours</p>
                    <p class="darkVioletText">Tuesday<br />10:00 am – 4:00 pm</p>
                    <p class="darkVioletText">Wednesday<br />10:00 am – 4:00 pm</p>
                    <p class="darkVioletText">Friday<br />10:00 am – 4:00 pm </p>
                </div>
            </div>
        </div>

        <div class="centerDiv">
            <button id="ReturnHome" type="button" class="myBut bold width40 fontSize2em" style="margin-top:1em;">Return to Top of Page</button>
        </div>

    </article>
</article>


<article id="WhoWeArePage" class="myArts noDisplay topMargin2em">
    <section class="backDarkViolet violetBorder showShadow">
        <p class="pTitle centerText underLine whiteText">Who We Are</p>

        <div class="centerDiv">
            <img class="autoMarginLeftRight width20 violetBorder showShadow" alt="Committee.jpg" src="Images/Committee.jpg" />
        </div>

        <div class="pTitle backGhostWhite width90 topMargin1em padding10 autoMarginLeftRight violetBorder showShadow">
            <p class="bold">
                We are members of the Lutheran Church-Missouri Synod (LCMS). Our Synod is organized into 35 districts, 33 of which are defined along geographic lines and 2 are non-geographic districts, meaning they have churches in several states.
                <br /><br />
                We are part of one of these non-geographic districts, called The English District. Back in the times when the LCMS was first formed by Lutherans migrating from Saxony in Germany, many congregations worshiped in the German language. However, there were other churches which confessed the same theology as the LCMS but which worshiped in English, and these formed a connection that ultimately joined the LCMS as the English District.
                <br /><br />
                However, there were other churches which confessed the same theology as the LCMS but which worshiped in English.  These churches formed their own synod which ultimately joined the LCMS as the English District.
            </p>

            <div class="pageDivider"></div>

            <p class="bold">
                <img class="floatLeft rightMargin1em width25 violetBorder showShadow" src="Images/churchfront.png" />
                <span class="redText">Our History</span> Trinity has been serving Northeast Ocala and Silver Springs area for many years. Rev. Myron Mader, who founded many of the other churches in Marion County brought Trinity to this area and he served here joyfully until retiring in 2019. Under his leadership, Trinity has long been an integral part of this community, and continues to look for ways that it can be a beacon of light to our neighbors and to illuminate every dark corner of God’s Kingdom that we have been called to serve.
            </p>

            <div class="pageDivider"></div>

            <p class="bold">
                <img alt="PastorDan" class="floatLeft width15 rightMargin1em violetBorder showShadow" src="~/Images/Leaders/PastorDan.png" /><span class="redText">Our Pastor</span> Rev. Danlias Howe began to serve on a week-to-week basis here at Trinity in February 2021 and he has been serving as pastor here full-time since October of that year.
                <br /><br />
                Pastor Howe was born and raised in Hartford, Connecticut. He received a Bachelor of Arts degree from Trinity College (Hartford) in 1978 and a Doctor of Jurisprudence degree from The Law School at Drake University in 1981. He practiced law for more than 37 years and has been a member of the Iowa, Texas and Florida Bar Associations during his legal career where he was a frequent author in Legal Journals and a frequent speaker at legal seminars sponsored by the ABA and other local and national Legal Trade Associations.
                <br /><br />
                Pastor Howe entered the Specific Ministry Pastor (“SMP”) program of Concordia Seminary St. Louis in August 2018 and served as Vicar at Wellspring Church in DeLand, Florida concurrently with the first two years of his seminary studies. He was ordained into the Office of Holy Ministry in February 2021. His first call was to continue to serve as associate pastor at Wellspring, a part of the Central Florida Cross Network of Lutheran Churches.
                <br /><br />
                Pastor Howe participated in high school and college varsity athletics. He was active in Scouting and achieved the rank of Eagle Scout in 1974. Pastor Howe married Cathie in 1983 in Winterset, Iowa and together they have raised two daughters, Marie and Caitlyn who live in Riverview and West Palm Beach, Florida respectively.
            </p>

            <div class="pageDivider"></div>

            <p class="pTitle centerText redText" style="font-size:1.5em;">
                Our Leadership
            </p>
            <hr class="myHR" />
            <p class="centerText">Board Members</p>

            <div class="container">
                <div class="row">
                    <div class="col-md-2 offset-md-1 centerDiv">
                        <img alt="Murtz" class="violetBorder width95 showShadow" src="Images/Leaders/Murtz.png" />
                    </div>
                    <div class="col-md-3">
                        <p>Dan Murtz - Board President</p>
                    </div>
                    <div class="col-md-2 offset-md-1 centerDiv">
                        <img alt="Formella" class="violetBorder width95 showShadow" src="Images/Leaders/Formella.png" />
                    </div>
                    <div class="col-md-3">
                        <p>Rick Formella - Board Vice President</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 offset-md-1 centerDiv" style="padding-top:1em;">
                        <img alt="Turner" class="violetBorder width95 showShadow" src="Images/Leaders/Turner.png" />
                    </div>
                    <div class="col-md-3" style="padding-top:1em;">
                        <p>Peggy Turner - Board Secretary</p>
                    </div>
                    <div class="col-md-2 offset-md-1 centerDiv" style="padding-top:1em;">
                        <img alt="Dixon" class="violetBorder width95 showShadow" src="Images/Leaders/Dixon.png" />
                    </div>
                    <div class="col-md-3" style="padding-top:1em;">
                        <p>Don Dixon - Board Member</p>
                    </div>
                </div>
                <div class="row topMargin1em">
                    <div class="col-md-2 offset-md-4 centerDiv" style="padding-top:1em;">
                        <img alt="Jacobson" class="violetBorder width95 showShadow" src="Images/Leaders/Jacobson.jpg" />
                    </div>
                    <div class="col-md-3" style="padding-top:1em;">
                        <p>Gus Jacobson  - Board Member</p>
                    </div>
                </div>
            </div>
            <hr class="myHR" />
            <p class="centerText">Administrative Staff</p>

            <div class="container topMargin2em">
                <div class="row">
                    <div class="col-md-2 offset-md-1 centerDiv">
                        <img alt="Capiraso" class="violetBorder width95 showShadow" src="Images/Leaders/Capiraso.png" />
                    </div>
                    <div class="col-md-3">
                        <p>Lorrie Capiraso - Administrator</p>
                    </div>
                    <div class="col-md-2 offset-md-1 centerDiv">
                        <img alt="Strickland" class="violetBorder width95 showShadow" src="Images/Leaders/Strickland.png" />
                    </div>
                    <div class="col-md-3">
                        <p>Patti Strickland - Financial Advisor</p>
                    </div>
                </div>
                <div class="row topMargin2em">
                    <div class="col-md-2 offset-md-1 centerDiv" style="padding-top:1em;">
                        <img alt="Howe" class="violetBorder width95 showShadow" src="Images/Leaders/Howe.png" />
                    </div>
                    <div class="col-md-3" style="padding-top:1em;">
                        <p>Cathie Howe - Livestream Coordinator</p>
                    </div>
                    <div class="col-md-2 offset-md-1 centerDiv" style="padding-top:1em;">
                        <img alt="Sommer" class="violetBorder width95 showShadow" src="Images/Leaders/Sommer.png" />
                    </div>
                    <div class="col-md-3" style="padding-top:1em;">
                        <p>Beverly Sommer - Outreach</p>
                    </div>
                </div>
                <div class="row topMargin2em bottomMargin1em" style="padding-top:1em;">
                    <div class="col-md-2 offset-md-4 centerDiv">
                        <img alt="Hetzer" class="violetBorder width95 showShadow" src="Images/Leaders/Hetzer.png" />
                    </div>
                    <div class="col-md-3">
                        <p>Denver Hetzer - Technologies</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="centerDiv bottomMargin2em topMarginMinus1em">
            <button id="ReturnWhoWeAre" type="button" class="myBut bold width40 fontSize2em topMargin2em">Return to Top of Page</button>
        </div>

    </section>
</article>

<article id="Beliefs" class="myArts noDisplay topMargin2em">
    <section class="autoMarginLeftRight bottomMargin2em centerDiv width90 backDarkViolet violetBorder showShadow">
        <p class="pTitle underLine centerText whiteText">What We Believe</p>
        <img alt="WhatWeBelieve.jpg" class="autoMarginLeftRight width25 violetBorder showShadow" src="Images/WhatWeBelieve.jpg" />

        <article class="backGhostWhite left width90 topMargin2em bottomMargin2em autoMarginLeftRight padding10 fontSize1_Halfem violetBorder showShadow">
            <p class="bold">
                <span class="redText underLine">Grace Alone</span><br />
                We believe that salvation is a free gift from a gracious God and we can do nothing to earn our salvation. <span class="italic">(Ephesians 2:1-10)</span>
            </p>

            <p class="bold">
                <span class="redText underLine">Faith Alone</span><br />
                We believe the gift of eternal life and salvation is based entirely on God’s grace, through faith in Jesus Christ. <span class="italic">(John 14:6 and 1 Corinthians 12:3)</span>
            </p>

            <p class="bold">
                <span class="redText underLine">Scripture Alone</span><br />
                We believe the Bible is the completely trustworthy Word of God written in human language and thought forms but with God’s very Breath of Truth providing us with what we need for life today and life forever. <span class="italic">(Romans 10:17, 2 Timothy 3:14-16, Hebrews 4:12)</span>
            </p>

            <p class="bold">
                <span class="redText underLine">Christ Alone</span><br />
                We celebrate the Sacraments - Holy Baptism, Absolution, and Holy Communion - as the means by which Christ connects us to Himself and to others. These Sacraments provide the gifts of forgiveness, faith, and eternal life through Jesus Christ. <span class="italic">(Romans 6:3-11, Titus 3:5-6, and 1 Corinthians 10:16-17)</span>
            </p>

            <p class="bold">
                <span class="redText underLine">What is a Lutheran?</span><br />
                While there are a variety of ways one could answer this question, one very important answer is simply this, "A Lutheran is a person who believes, teaches and confesses the truths of God's Word as they are summarized and confessed in the <a href="https://bookofconcord.org/" target="_blank">Book of Concord</a>." The Book of Concord contains the Lutheran confessions of faith.
            </p>
            <p class="bold">
                Perhaps you have attended an ordination of a pastor and heard him promise that he will perform the duties of his office in accord with the Lutheran Confessions. When people are received into membership into a Lutheran congregation through confirmation they are asked if they confess the doctrine of the Evangelical Lutheran Church, as they have learned to know it from the <a href="https://catechism.cph.org/" target="_blank">Small Catechism</a>, to be faithful and true.
            </p>
            <p class="bold">
                These solemn promises indicate to us just how important the Lutheran Confessions are for our church. Let's take a look at the various items contained in the Book of Concord and then we will talk about why the Lutheran Confessions are so important for being a Lutheran.
            </p>

            <p class="bold">
                <span class="redText underLine">What are the Ecumenical Creeds?</span><br />
                The three ecumenical creeds in the Book of Concord are the Apostles' Creed, the Nicene Creed and the Athanasian Creed. They are described as "ecumenical" [universal] because they are accepted by Christians worldwide as correct expressions of what God's Word teaches.
            </p>

            <p class="bold">
                <span class="redText underLine">What is the Augsburg Confession and Apology of the Augsburg Confession?</span><br />
                In the year 1530, the Lutherans were required to present their confession of faith before the emperor in Augsburg, Germany. Philip Melanchthon wrote the Augsburg Confession and it was read before the imperial court on June 30, 1530. One year later, the Lutherans presented their defense of the Augsburg Confession, which is what "apology" here means. It too was written by Philip Melanchthon. The largest document in the Book of Concord, its longest chapter, is devoted to the most important truth of the Christian faith: the doctrine of justification by grace alone, through faith alone, in Christ alone.
            </p>

            <p class="bold">
                <span class="redText underLine">What are the Small and Large Catechisms?</span><br />
                Martin Luther realized early on how desperately ignorant the laity and clergy of his day were when it came to even the most basic truths of the Christian faith. Around 1530, he produced two small handbooks to help pastors and the heads of families teach the faith.
            </p>
            <p class="bold">
                The Small Catechism and the Large Catechism are organized around six topics: the Ten Commandments, the Apostles' Creed, the Lord's Prayer, Holy Baptism, Confession, and the Sacrament of the Altar. So universally accepted were these magnificent doctrinal summaries by Luther, that they were included as part of the Book of Concord.
            </p>

            <p class="bold">
                <span class="redText underLine">What are the Smalcald Articles and the Treatise on the Power and Primacy of the Pope?</span><br />
                In 1537, Martin Luther was asked to prepare a statement of Lutheran belief for use at a church council, if it was called. Luther's bold and vigorous confession of faith was later incorporated into the Book of Concord. It was presented to a group of Lutheran rulers meeting in the town of Smalcald. Philip Melanchthon was asked to expand on the subject of the Roman pope and did so in his treatise, which also was included in the Book of Concord.
            </p>

            <p class="bold">
                <span class="redText underLine">What is the Formula of Concord?</span><br />
                After Luther's death in 1546, significant controversies broke out in the Lutheran Church. After much debate and struggle, the Formula of Concord in 1577 put an end to these doctrinal controversies and the Lutheran Church was able to move ahead united in what it believed, taught and confessed. In 1580, all the confessional writings mentioned here were gathered into a single volume, the Book of Concord. Concord is a word that means, "harmony." The Formula of Concord was summarized in a version known as the "Epitome" of the Formula of Concord. This document too is included in the Book of Concord.
            </p>

            <p class="bold">
                <span class="redText underLine">What is the connection between the Bible and the Confessions?</span><br />
                We confess that, "The Word of God is and should remain the sole rule and norm of all doctrine" <span class="italic">(FC SD, Rule and Norm, 9)</span>. What the Bible asserts, God asserts. What the Bible commands, God commands. The authority of the Scriptures is complete, certain and final. The Scriptures are accepted by the Lutheran Confessions as the actual Word of God. The Lutheran Confessions urge us to believe the Scriptures for "they will not lie to you" <span class="italic">(LC, V, 76)</span> and cannot be "false and deceitful" <span class="italic">(FC SD, VII, 96)</span>. The Bible is God's "pure, infallible, and unalterable Word" <span class="italic">(Preface to the BOC)</span>.
            </p>
            <p class="bold">
                The Lutheran Confessions are the "basis, rule, and norm indicating how all doctrines should be judged in conformity with the Word of God" <span class="italic">(FC SD RN)</span>. Because the Confessions are in complete doctrinal agreement with the written Word of God, they serve as the standard in the Lutheran Church to determine what is faithful Biblical teaching, insofar as that teaching is addressed in the Confessions.
            </p>

            <p class="bold">
                <span class="redText underLine">What is the main point of the Lutheran Confessions?</span><br />
                The Lutheran Reformation was not a "revolt," but rather began as a sincere expression of concern with the false and misleading teachings, which, unfortunately, even to this very day, obscure the glory and merit of Jesus Christ. What motivated Luther was a zealous concern about the Gospel of Jesus Christ. Here is how the Lutheran Confessions explain what the Gospel is all about:
            </p>
            <p class="bold">
                Human beings have not kept the law of God but have transgressed it. Their corrupted human nature, thoughts, words, and deeds battle against the law. For this reason they are subject to God's wrath, to death and all temporal afflictions, and to the punishment of the fires of hell. As a result, the Gospel, in its strict sense, teaches what people should believe, namely, that they receive from God the forgiveness of sins; that is, that the Son of God, our Lord Christ, has taken upon Himself the curse of the law and borne it, atoned and paid for all our sins; that through Him alone we are restored to God's grace, obtain the forgiveness of sins through faith and are delivered from death and all the punishments of our sins and are saved eternally. . . . It is good news, joyous news, that God does not want to punish sin but to forgive it for Christ's sake <span class="italic">(FC SD, V, 20)</span>.
            </p>
        </article>

        <div class="centerDiv bottomMargin2em topMarginMinus1em">
            <button id="ReturnBeliefs" type="button" class="myBut bold width40 fontSize2em topMargin2em">Return to Top of Page</button>
        </div>

    </section>
</article>

<article id="WorshipTimes" class="myArts noDisplay topMargin2em">
    <section class="autoMarginLeftRight centerDiv width90 backDarkViolet violetBorder showShadow">

        <p class="pTitle underLine centerText whiteText">Worship Times</p>
        <img alt="Services_Pic.png" class="autoMarginLeftRight width15 violetBorder showShadow" src="Images/Services_Pic.png" />
            
        <div class="backGhostWhite left width90 topMargin2em bottomMargin2em autoMarginLeftRight padding10 fontSize1_Halfem violetBorder showShadow">
            <p class="bold">
                <span class="redText underLine">Sunday Mornings</span><br />
                We worship at 10 AM, followed by a time of fellowship.
            </p>

            <p class="bold">
                <span class="redText underLine">Divine Service with Holy Communion</span><br />
                We celebrate the Sacrament of Holy Communion on the 1st and 3rd Sundays of each month and also during other dates where we deem it appropriate based on the season and occasion. We use Divine Service 3 from the Lutheran Service Book. All other Sundays are without communion.
            </p>

            <p class="bold">
                <span class="redText underLine">Communion Statement</span><br />
                The Lord’s Supper is celebrated at Trinity Lutheran Church in the confession and glad confidence that, as He says, our Lord gives into our mouths not only bread and wine but his very body and blood to eat and to drink for the forgiveness of sins and to strengthen our union with him and with one another. Our Lord invites to his table those who trust his words, repent of all sin, and set aside any refusal to forgive and love as he forgives and loves us, that they may show forth his death until He comes.
            </p>
            <p class="bold">
                Because those who eat and drink our Lord’s body and blood unworthily do so to their great harm and because Holy Communion is a confession of the faith which is confessed at this altar, any who are not yet instructed, in doubt, or who hold a confession differing from that of this congregation and The Lutheran Church—Missouri Synod, and yet desire to receive the sacrament, are asked first to speak with the pastor or an elder.
                <br />
                <span class="italic">See: Matthew 5:23f.; 10:32f.; 18:15-35; 26:26-29; 1 Cor. 11:17-34</span>
            </p>

            <p class="bold">
                <span class="redText underLine">Wednesday Worship</span><br />
                We gather for a Vespers Service before our Bible Study on Wednesday evenings at 6:30 pm. Vespers is an abbreviated worship service of prayer, song and Scripture reading which often precedes a class, or some other organized church activity. Vespers Services are usually held in the early evenings and they originated from canonical hours practiced in churches and monasteries in the middle ages.
            </p>

            <p class="bold">
                <span class="redText underLine">Special Worship Services</span><br />
                We will gather for a other special worship services as appropriate during the year, including Ash Wednesday, Maundy Thursday, Good Friday, etc.
            </p>
        </div>

        <div class="centerDiv bottomMargin2em topMarginMinus1em">
            <button id="ReturnWorshipTimes" type="button" class="myBut bold width40 fontSize2em topMargin2em">Return to Top of Page</button>
        </div>


    </section>
</article>

<article id="EventLists" class="myArts noDisplay topMargin2em">
    <section class="autoMarginLeftRight bottomMargin2em centerDiv violetBorder backDarkViolet">
        <p class="pTitle underLine centerText whiteText" style="font-size:3em;">Events</p>

        <div class="container width95 backDarkViolet autoMarginLeftRight">
            <div class="row">
                <div class="col-md-4">
                    <div class="backGhostWhite topMargin1em width75 autoMarginLeftRight violetBorder showShadow">
                        <h3 class="redText bold">A red entry signifies that clicking on it will lead you to a different page.</h3>
                    </div>

                    <div class="backGhostWhite topMargin1em width75 autoMarginLeftRight violetBorder showShadow">
                        <p class="pTitle centerText darkVioletText bold">Select Events</p>
                        <hr class="myHR" />
                        <input id="ComingEvents" class="width90 whiteText backDarkViolet bold fontSize1Point2em" style="cursor:pointer;" type="button" value="Upcoming" />
                        <input id="PastEvents" class="width90 bottomMargin1em backDarkViolet topMarginHalfem bold fontSize1Point2em whiteText" style="cursor:pointer;background-color:darkviolet;color:white" type="button" value="Recent Past" />
                    </div>

                    <div class="backGhostWhite topMargin1em bottomMargin2em width75 autoMarginLeftRight violetBorder showShadow">
                        <h3 class="bold darkVioletText">Ongoing Events</h3>
                        <hr class="myHR" />
                        <input class="quilt width90 bold backDarkViolet violetText fontSize1Point2em" type="button" value="Quilting Class" />
                        <input class="models width90 topMarginHalfem bold backDarkViolet violetText violetText fontSize1Point2em" type="button" value="Plastic Modeling" />
                        <input class="work width90 topMarginHalfem bottomMargin1em bold backDarkViolet violetText violetText fontSize1Point2em" type="button" value="Work Day" />
                    </div>
                </div>

                <div class="col-md-8">
                    <article class="eventArt">
                        <p id="EventLabel" class="whiteText pTitle" style="margin-left:-3em;">Upcoming Events</p>
                        <div id="UpcomingTable" class="eventTable bottomMargin2em block">
                            <table id="UpcomingEvents" class="width95">
                                <tr>
                                    <th class="backViolet darkVioletText fontSize1_Halfem bold">Event</th>
                                    <th class="backViolet darkVioletText fontSize1_Halfem bold">Date</th>
                                </tr>

                                <tr>
                                    <td class="work redTableData">
                                        Wednesday Workers 9:00 am  
                                    </td>
                                    <td class="work redTableData">
                                        4/3/2024
                                    </td>
                                </tr>

                                 <tr>
                                    <td class="vespers redTableData">Vespers Service and Bible Study  6:30 pm</td>
                                    <td class="vespers redTableData">
                                        3/4/2024
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tableData">Service with Holy Communion 10:00am</td>
                                    <td class="tableData">
                                        3/7/2024
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div id="PastTable" class="width95 bottomMargin2em noDisplay">
                            <table id="PastEvents" class="width95" style="border:solid darkViolet 3px;">
                                <tr>
                                    <th class="width70 backViolet darkVioletText fontSize1_Halfem bold">Event</th>
                                </tr>
                                <tr>
                                    <td id="Spaghetti" class="redTableData">
                                        Spaghetti Dinner - 3/16/24
                                    </td>
                                </tr>
                                <tr>
                                    <td id="Carols" class="redTableData">
                                        Christmas Caroling on the Square
                                    </td>
                                </tr>
                                <tr>
                                    <td id="FortMcCoy" class="redTableData">
                                        Fellowship with our friends in Fort McCoy Veteran's Village
                                    </td>
                                </tr>
                                <tr>
                                    <td id="MemorialDay" class="redTableData">
                                        Memorial Day Service to Veterans
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </article>
                </div>
            </div>
        </div>

        <div class="centerDiv bottomMargin2em topMarginMinus1em">
            <button id="ReturnEvents" type="button" class="myBut bold width40 fontSize2em topMargin2em">Return to Top of Page</button>
        </div>

    </section>
</article>

<article id="MyLinks" class="myArts noDisplay topMargin2em">
    <section class="autoMarginLeftRight bottomMargin2em centerDiv width90 backDarkViolet violetBorder showShadow" style="min-height:40em;">
        <p class="pTitle underLine centerText whiteText">Our Links</p>
        <img class="autoMarginLeftRight width20 violetBorder showShadow" alt="ComputerChurch.jpg" src="Images/ComputerChurch.jpg" />

        <div class="padding10" style="margin:1em 1em 2em 1em;">
            <div class="width95 back autoMarginLeftRight">
                <div class="container backDarkViolet padding5">
                    <div class="row topMargin3em" style="margin-left:-1em;">
                        <div class="col-md-3 offset-md-1 centerDiv">
                            <div class="topMargin2em violetBorder showShadow padding10" style="width:100%;">
                                <p class="bold whiteText" style="font-size:3em;">Videos</p>
                                <div class="violetBorder backWhite centerDiv topMargin2em">
                                    <h2 class="centerText bold underLine darkVioletText">Services</h2>
                                    <ul class="width100">
                                        <li><a class="bold fontSize2em darkVioletText" style="margin-left:-1em;" href="https://www.facebook.com/100080280627036/videos/1013489236777665/" target="_blank">6/2/2024</a></li>
                                        <li><a class="bold fontSize2em darkVioletText" style="margin-left:-1em;" href="https://www.facebook.com/100080280627036/videos/1221148995573244/" target="_blank">5/26/2024</a></li>
                                        <li><a class="bold fontSize2em darkVioletText" style="margin-left:-1em;" href="https://www.facebook.com/100080280627036/videos/423990467062090/" target="_blank">5/19/2024</a></li>
                                        <li><a class="bold fontSize2em darkVioletText" style="margin-left:-1em;" href="https://www.facebook.com/100080280627036/videos/3512863692336825/" target="_blank">5/12/2024</a></li>
                                        <li><a class="bold fontSize2em darkVioletText" style="margin-left:-1em;" href="https://www.facebook.com/100080280627036/videos/1424576341529020/" target="_blank">5/5/2024</a></li>
                                    </ul>
                                </div>

                                <div class="violetBorder backWhite centerDiv topMargin2em">
                                    <h2 class="centerText bold underLine darkVioletText">Bible Study</h2>
                                    <ul>
                                        <li><a class="bold fontSize2em darkVioletText" style="margin-left:-1em;" href="https://www.facebook.com/100080280627036/videos/880713590482124/" target="_blank">5/15/2024</a></li>
                                        <li><a class="bold fontSize2em darkVioletText" style="margin-left:-1em;" href="https://www.facebook.com/100080280627036/videos/1150936759236612/" target="_blank">4/10/2024</a></li>
                                        <li><a class="bold fontSize2em darkVioletText" style="margin-left:-1em;" href="https://www.facebook.com/100080280627036/videos/405246592124287/" target="_blank">4/3/2024</a></li>
                                        <li><a class="bold fontSize2em darkVioletText" style="margin-left:-1em;" href="https://www.facebook.com/100080280627036/videos/684044243695348/" target="_blank">3/6/2024</a></li>
                                        <li><a class="bold fontSize2em darkVioletText" style="margin-left:-1em;" href="https://www.facebook.com/100080280627036/videos/741303877770883/" target="_blank">2/28/2024</a></li>
                                        <li><a class="bold fontSize2em darkVioletText" style="margin-left:-1em;" href="https://www.facebook.com/100080280627036/videos/380772454710852/" target="_blank">1/24/2024</a></li>
                                        <li><a class="bold fontSize2em darkVioletText" style="margin-left:-1em;" href="https://www.facebook.com/100080280627036/videos/363549756394144/" target="_blank">1/17/2024</a></li>
                                        <li><a class="bold fontSize2em darkVioletText" style="margin-left:-1em;" href="https://www.facebook.com/100080280627036/videos/1421805308763290/" target="_blank">1/10/2024</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 offset-md-1">
                            <div class="topMargin6em backWhite violetBorder showShadow padding10">
                                <h1 class="centerText underLine bold darkVioletText">Donations</h1>
                                <p class="darkVioletText bold fontSize2em left">Our church depends on the kindness of our members and supporters.<br />To make a donation, please click the link below and contribute as generously as you can. Thank you for your support.</p>
                                <p class="darkVioletText bold fontSize2em">Please click <a href="https://give.tithe.ly/?formId=ec59b9e5-b993-496b-83d3-bf20054c805a" target="_blank">here</a> to make a donation.</p>
                            </div>
                            <div class="violetBorder backWhite showShadow centerDiv padding5 topMargin2em">
                                <p class="darkVioletText fontSize2em bold centerText">
                                Click <a href="https://www.facebook.com/profile.php?id=100080280627036" target="_blank">here</a> to see our FaceBook Page.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="centerDiv bottomMargin2em topMarginMinus1em">
            <button id="ReturnLinks" type="button" class="myBut bold width40 fontSize2em topMargin2em">Return to Top of Page</button>
        </div>

    </section>
</article>

<article id="QuiltingClass" class="myArts noDisplay topMargin2em" style="min-height:40em;">
    <section class="autoMarginLeftRight bottomMargin2em centerDiv width90 backDarkViolet violetBorder showShadow" style="min-height:40em;">
        <p class="pTitle underLine centerText whiteText">Quilting Class</p>
        <div id="QuiltingSlideShow" class="container topMargin2em">
            <div class="row">
                <div class="col-md-7 offset-md-2">
                    <!-- Carousel -->
                    <div id="QuiltingSlideShow" class="carousel leftMargin4em slide centerDiv" data-bs-interval="4000" data-bs-ride="carousel">
                        <!-- The slideshow/carousel -->
                        <div class="carousel-inner regBorderThick autoMarginLeftRight" style="padding:1em 1em;width:100%;">
                            <div class="carousel-item">
                                <img src="~/Images/Quilts/Q1.jpg" alt="Q1" class="d-block width55 autoMarginLeftRight">
                            </div>
                            <div class="carousel-item">
                                <img src="~/Images/Quilts/Q2.jpg" alt="Q2" class="d-block width55 autoMarginLeftRight">
                            </div>
                            <div class="carousel-item">
                                <img src="~/Images/Quilts/Q3.jpg" alt="Q3" class="d-block width55 autoMarginLeftRight">
                            </div>
                            <div class="carousel-item">
                                <img src="~/Images/Quilts/Q4.jpg" alt="Q4" class="d-block width55 autoMarginLeftRight">
                            </div>
                            <div class="carousel-item">
                                <img src="~/Images/Quilts/Q5.jpg" alt="Q5" class="d-block width55 autoMarginLeftRight">
                            </div>
                            <div class="carousel-item">
                                <img src="~/Images/Quilts/Q6.jpg" alt="Q6" class="d-block width55 autoMarginLeftRight">
                            </div>
                            <div class="carousel-item">
                                <img src="~/Images/Quilts/Q7.jpg" alt="Q7" class="d-block width55 autoMarginLeftRight">
                            </div>
                            <div class="carousel-item">
                                <img src="~/Images/Quilts/Q8.jpg" alt="Q8" class="d-block width55 autoMarginLeftRight">
                            </div>
                            <div class="carousel-item">
                                <img src="~/Images/Quilts/Q9.jpg" alt="Q9" class="d-block width55 autoMarginLeftRight">
                            </div>
                            <div class="carousel-item">
                                <img src="~/Images/Quilts/Q10.jpg" alt="Q10" class="d-block width55 autoMarginLeftRight">
                            </div>
                            <div class="carousel-item">
                                <img src="~/Images/Quilts/Q11.jpg" alt="Q11" class="d-block width55 autoMarginLeftRight">
                            </div>
                            <div class="carousel-item">
                                <img src="~/Images/Quilts/Q12.jpg" alt="Q12" class="d-block width55 autoMarginLeftRight">
                            </div>
                            <div class="carousel-item">
                                <img src="~/Images/Quilts/Q13.jpg" alt="Q13" class="d-block width55 autoMarginLeftRight">
                            </div>
                            <div class="carousel-item">
                                <img src="~/Images/Quilts/Q14.jpg" alt="Q14" class="d-block width55 autoMarginLeftRight">
                            </div>
                            <div class="carousel-item">
                                <img src="~/Images/Quilts/Q15.jpg" alt="Q15" class="d-block width55 autoMarginLeftRight">
                            </div>
                            <div class="carousel-item active">
                                <img src="~/Images/Quilts/Q16.jpg" alt="Q16" class="d-block width55 autoMarginLeftRight">
                            </div>
                            <div class="carousel-item">
                                <img src="~/Images/Quilts/Q17.jpg" alt="Q17" class="d-block width55 autoMarginLeftRight">
                            </div>
                            <div class="carousel-item">
                                <img src="~/Images/Quilts/Q18.jpg" alt="Q18" class="d-block width55 autoMarginLeftRight">
                            </div>
                            <div class="carousel-item">
                                <img src="~/Images/Quilts/Q19.jpg" alt="Q19" class="d-block width55 autoMarginLeftRight">
                            </div>
                            <div class="carousel-item">
                                <img src="~/Images/Quilts/Q20.jpg" alt="Q20" class="d-block width55 autoMarginLeftRight">
                            </div>
                            <div class="carousel-item">
                                <img src="~/Images/Quilts/Q21.jpg" alt="Q21" class="d-block width55 autoMarginLeftRight">
                            </div>
                            <div class="carousel-item">
                                <img src="~/Images/Quilts/Q22.jpg" alt="Q22" class="d-block width55 autoMarginLeftRight">
                            </div>
                            <div class="carousel-item">
                                <img src="~/Images/Quilts/Q23.jpg" alt="Q23" class="d-block width55 autoMarginLeftRight">
                            </div>
                            <div class="carousel-item">
                                <img src="~/Images/Quilts/Q24.jpg" alt="Q24" class="d-block width55 autoMarginLeftRight">
                            </div>
                            <div class="carousel-item">
                                <img src="~/Images/Quilts/Q25.jpg" alt="Q25" class="d-block width55 autoMarginLeftRight">
                            </div>
                            <div class="carousel-item">
                                <img src="~/Images/Quilts/Q26.jpg" alt="Q26" class="d-block width55 autoMarginLeftRight">
                            </div>
                            <div class="carousel-item">
                                <img src="~/Images/Quilts/Q27.jpg" alt="Q27" class="d-block width55 autoMarginLeftRight">
                            </div>
                            <div class="carousel-item">
                                <img src="~/Images/Quilts/Q28.jpg" alt="Q28" class="d-block width55 autoMarginLeftRight">
                            </div>
                            <div class="carousel-item">
                                <img src="~/Images/Quilts/Q29.jpg" alt="Q29" class="d-block width55 autoMarginLeftRight">
                            </div>
                        </div>

                        <!-- Left and right controls/icons -->
@*                             <button class="carousel-control-prev" type="button" data-bs-target="#QuiltingSlideShow" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#QuiltingSlideShow" data-bs-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </button> *@
                    </div>
                </div>
            </div>
        </div>
        <p class="centerText italic fontSize1em bold whiteText">Move mouse cursor on the picture to pause the slide show.</p>
        <section class="width95 topMargin2em bottomMargin2em autoMarginLeftRight backGhostWhite violetBorder showShadow">
            <p class="pTitle bold padding10" style="color:darkviolet;text-align:left;">
                Join us monthly on the 2nd and 4th Saturday from 10:00 am to 2:00 pm for a delightful time!<br /> 
                Don't forget to bring your own bag lunch.
                <br /><br />
                If you've ever desired to learn the art of quilting, look no further – we're here to guide you, ensuring a lot of fun and productivity.
                <br /><br />
                Furthermore, we're excited about exploring other crafts with you.
                <br /><br />
                For additional details or to express your interest, please reach out to Peggy Turner at (352) 816-4866 (Cell) or (352) 289-4891 (Home).
            </p>
        </section>

        <div class="centerDiv bottomMargin2em">
            <h2 class="returntoEvents whiteText bold" style="cursor:pointer;">Return to Events</h2>
        </div>

    </section>
</article>

<article id="PlasticModeling" class="myArts noDisplay topMargin2em">
    <section class="autoMarginLeftRight bottomMargin2em centerDiv width90 backDarkViolet violetBorder showShadow">
        <p class="pTitle underLine centerText whiteText">Internationl Plastic Modeling Society<br />Chapter 11-13</p>
        <img alt="Plane.jpg" class="width25 autoMarginLeftRight topMargin1em violetBorder showShadow" src="~/Images/Plane.jpg" />
        <section class="width95 topMargin2em bottomMargin2em autoMarginLeftRight backGhostWhite violetBorder showShadow">
            <p class="bold fontSize2em underline" style="color:darkviolet">We Build Plastic Models</p>
            <p class="fontSize1_Halfem bold" style="color:darkviolet;">
                Beginning February 22nd, our gatherings will take place at the church<br />every 4<sup class="darkVioletText">th</sup> Thursday of the month, starting at 6:30 PM.
            </p>
        </section>

        <div class="centerDiv bottomMargin2em">
            <h2 class="returntoEvents whiteText bold" style="cursor:pointer;">Return to Events</h2>
        </div>

    </section>
</article>

<article id="WorkingPage" class="myArts noDisplay topMargin2em" style="min-height:40em;">
    <section class="autoMarginLeftRight bottomMargin2em centerDiv width90 backDarkViolet violetBorder showShadow" style="min-height:40em;">
        <p class="pTitle underLine centerText whiteText">Church Work Day</p>
        <img alt="Church_Working.jpg" class="width25 autoMarginLeftRight topMargin1em violetBorder showShadow" src="~/Images/Church_Working.jpg" />
        <section class="width95 topMargin2em bottomMargin2em autoMarginLeftRight backGhostWhite violetBorder showShadow">
            <p class="fontSize1_Halfem bold padding10" style="color:darkviolet;">
                Every week, our church hosts a work day that is open to everyone. The event starts at 9:00 AM and typically concludes around noon. Lunch is provided for all attendees as a gesture of hospitality and community engagement.
            </p>
        </section>

        <div class="centerDiv bottomMargin2em">
            <h2 class="returntoEvents whiteText bold" style="cursor:pointer;">Return to Events</h2>
        </div>

    </section>
</article>

<article id="CarolPage" class="myArts noDisplay topMargin2em" style="min-height:40em;">
    <section class="autoMarginLeftRight bottomMargin2em centerDiv width90 backDarkViolet violetBorder showShadow" style="min-height:40em;">
        <p class="pTitle underLine centerText whiteText">Christnas Caroling 2023</p>

        <div class="centerDiv">
            <img class="leftMargin1em width40 violetBorder showShadow" src="Images/Caroling.jpg" />
        </div>
            
        <section class="width95 topMargin2em bottomMargin2em autoMarginLeftRight backGhostWhite violetBorder showShadow">
            <p class="fontSize1_Halfem bold" style="color:darkviolet">
                During the past Christmas, a group of us gathered at Ocala Square to share the joy of the season by singing Christmas Carols for the public. The experience was delightful, and we felt the true spirit of Christmas permeating the air. Our musical celebration served as a heartfelt birthday present for the Infant Jesus.
            </p>

        </section>

        <div class="centerDiv bottomMargin2em">
            <h2 class="returntoEvents whiteText bold" style="cursor:pointer;">Return to Events</h2>
        </div>


    </section>
</article>

<article id="SpaghettiPage" class="myArts noDisplay topMargin2em" style="min-height:40em;">
    <section class="autoMarginLeftRight centerDiv backDarkViolet violetBorder showShadow" style="min-height:40em;padding-bottom:2em;">
        @* <p class="pTitle underLine centerText whiteText">Spaghetti Dinner</p> *@
        <div class="pageDivider"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <img id="Spaghetti1" class="violetBorder showShadow width90" src="~/Images/Spaghetti1.png" style="cursor:pointer" />
                </div>
                <div class="col-md-3">
                    <img id="Spaghetti2" class="violetBorder showShadow width90" src="~/Images/Spaghetti2.png" style="cursor:pointer" />
                </div>
                <div class="col-md-3" style="cursor:pointer">
                    <img id="Spaghetti3" class="violetBorder showShadow width90" src="~/Images/Spaghetti3.png" style="cursor:pointer" />
                </div>
                <div class="col-md-3" style="cursor:pointer">
                    <img id="Spaghetti4" class="violetBorder showShadow width90" src="~/Images/Spaghetti4.png" style="cursor:pointer" />
                </div>
            </div>
        </div>

        <div class="topMargin2em">
            <h4 class="enlargePicture bold whiteText italic centerText">Click on a picture to see it enlarged.</h4>
        </div>

        <section class="width95 topMargin2em left autoMarginLeftRight backGhostWhite violetBorder showShadow">
            <p class="fontSize2em bold padding10" style="color:darkviolet;">
                Trinity Lutheran recently hosted another spaghetti dinner, orchestrated by our wonderful Peggy Turner. The event was a tremendous success, generating significant profits for our church.
                <br /><br />
                The menu featured a choice between classic spaghetti and meatballs or a meatless spaghetti option, accompanied by a vibrant salad boasting an array of dressings. Dessert options were aplenty, and guests could enjoy either iced tea or lemonade to complement their meal.
                <br /><br />
                We express our sincere appreciation to all the members who contributed to the success of this event. While we can't provide an exact headcount of attendees, it was a significant turnout, and all departed with smiles of satisfaction.
            </p>
        </section>

        <div class="centerDiv topMargin2em bottomMargin2em">
            <h2 class="returntoEvents whiteText bold" style="cursor:pointer;">Return to Events</h2>
        </div>
</article>

<article id="Vespers" class="myArts noDisplay topMargin2em" style="min-height:40em;">
    <section class="autoMarginLeftRight centerDiv width90 backDarkViolet violetBorder showShadow" style="min-height:40em;padding-bottom:2em;">
        <p class="pTitle underLine centerText whiteText">Vespers</p>
        <section class="width95 topMargin2em bottomMargin2 autoMarginLeftRight backGhostWhite violetBorder showShadow">
            <p class="fontSize2em bold padding10" style="color:darkviolet;padding-bottom:1em;">
                Throughout various times and cultures, dusk has held significance as a time for prayer. In Jewish tradition, prayers were offered in synagogues during sunset and other daily intervals. The Christian monastic "Daily Office" drew inspiration from this Jewish prayer pattern, featuring prayers or "hours" at seven different times each day. Anglican and Lutheran adaptations of the Daily Office condensed the services to two main ones: morning (Matins) and evening (Vespers or Evensong), with the latter eventually becoming known as Evening Prayer.
                <br /><br />
                Evening Prayer incorporates elements from the monastic prayer tradition. It typically commences with an opening scripture sentence and a confession of sin. The Invitatory may include the canticle Phos Hilaron, an ancient hymn lauding Christ during the lighting of lamps at sunset. The service progresses with a Psalter selection (reciting the Psalms weekly), scriptural readings, canticles (often the Magnificat or Nunc dimittis), the Apostles’ Creed, the Lord’s Prayer, a set of suffrages, one or more collects, and concludes with a dismissal. One of the suffrages resembles the litany in the Evening Office of Eastern Orthodox churches, focusing on themes of evening and death. Additional components of Evening Prayer may encompass an office hymn or anthem, the General Thanksgiving, a Prayer of St. Chrysostom, and a concluding scripture sentence.
            </p>
        </section>

        <div class="centerDiv topMargin2em bottomMargin2em">
            <h2 class="returntoEvents whiteText bold" style="cursor:pointer;">Return to Events</h2>
        </div>
    </section>
</article>

<article id="MyFortMcCoy" class="myArts noDisplay topMargin2em">
    <section class="autoMarginLeftRight centerDiv width90 backDarkViolet violetBorder showShadow" style="min-height:40em;padding-bottom:2em;">
        <p class="pTitle underLine centerText whiteText">Fort McCoy Fellowship</p>
        <img alt="FortMcCoy.jpg" class="width35 autoMarginLeftRight topMargin1em violetBorder showShadow" src="~/Images/FortMcCoy.jpg" />
        <section class="width60 topMargin2em bottomMargin2 autoMarginLeftRight backGhostWhite violetBorder showShadow">
            <p class="fontSize1_Halfem bold darkVioletText autoMarginLeftRight">
                We are presently involved in an ongoing service collaboration with our friends residing at Fort McCoy Veteran's Village.
            </p>
        </section>
        <div class="centerDiv topMargin2em bottomMargin2em">
            <h2 class="returntoEvents whiteText bold" style="cursor:pointer;">Return to Events</h2>
        </div>
    </section>
</article>

<article id="MyMemorialDay" class="myArts noDisplay topMargin2em">
    <section class="autoMarginLeftRight centerDiv width90 backDarkViolet violetBorder showShadow" style="min-height:40em;padding-bottom:2em;">
        <p class="pTitle underLine centerText whiteText">Memorial Day Service to Veterans</p>
        <img alt="MemorialDay.jpg" class="width45 autoMarginLeftRight topMargin1em violetBorder showShadow" src="~/Images/MemorialDay.jpg" />
        <section class="width60 topMargin2em bottomMargin2 autoMarginLeftRight backGhostWhite violetBorder showShadow">
            <p class="fontSize1_Halfem bold darkVioletText autoMarginLeftRight">
                We honor the veterans in our community by placing flags on the graves of those who served. 
            </p>
        </section>
        <div class="centerDiv topMargin2em bottomMargin2em">
            <h2 class="returntoEvents whiteText bold" style="cursor:pointer;">Return to Events</h2>
        </div>
    </section>
</article>

<article id="Weekly_Devotion" class="myArts noDisplay centerDiv topMargin2em">
    <img class="width75 violetBorder" src="~/Images/WeellyDevotion.jpg" />

    <div class="centerDiv topMargin2em bottomMargin2em">
        <h2 class="returntoHome whiteText bold" style="cursor:pointer;">Return to Home Page</h2>
    </div>

</article>

<article id="ShowPicture" class="myArts noDisplay centerDiv topMargin2em">
    <section class="autoMarginLeftRight centerDiv width90 backDarkViolet violetBorder showShadow" style="min-height:40em;padding-bottom:2em;">
        <h2 id="MyReturn" class="whiteText bold topMargin1em centerText" style="cursor:pointer">Return to Spaghetti Page</h2>
        <div class="pageDivider"></div>
        <img id="MyPicture" class="width90 topMargin1em bottomMargin2em violetBorder showShadow" src="xxxx" />
    </section>
</article>

<article id="PastorPage" class="myArts noDisplay centerDiv topMargin2em">
    <section class="autoMarginLeftRight centerDiv width90 backDarkViolet violetBorder showShadow" style="min-height:40em;padding-bottom:2em;">
        <iframe class="rumble topMargin2em" width="640" height="500" src="https://rumble.com/embed/v4jfdsw/?pub=38c3y2" frameborder="0" allowfullscreen></iframe>
    </section>
</article>

<article id="Password" class="myArts noDisplay centerDiv topMargin2em">
    <section class="autoMarginLeftRight centerDiv width90 backDarkViolet violetBorder showShadow" style="min-height:40em;padding-bottom:2em;">
        <p class="pTitle centerText">Enter the Admin Password</p>
    </section>

</article>